[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
numpy = "*"
pymongo = "*"
pytest = "*"
pytest-cov = "*"
python-dotenv = "*"
ultralytics = "*"
opencv-python = "*"
flask = "*"
flask-cors = "*"
pillow = "*"
torch = "*"
requests = "*"
coverage = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.10"