[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
numpy = "*"          # Numerical processing
pymongo = "*"        # MongoDB client
pytest = "*"         # Unit testing
pytest-cov = "*"     # Test coverage
python-dotenv = "*"  # Environment variable management
ultralytics = "*"    # YOLOv8
opencv-python = "*"  # Computer vision

[dev-packages]

[requires]
python_version = "3"
